.profile-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: auto;
    background-size: contain;
    background-position: center;

    .top-layer {
        background-color:#4c4c4c;
        border-radius: 50%;
        opacity:0;

        nb-icon{
            margin-top: 70px;
            color: #fff;
            font-size: 3rem;
            opacity: 0;
        }
    }

    .top-layer:hover{
        opacity:0.6;
        cursor: pointer;

        nb-icon{
            opacity: 1;
        }
    }

}