<nb-layout>
    <nb-layout-column class="mb-4">
        <div class="container h-100">
            <div class="row no-gutters row-eq-height justify-content-center h-100">
                <div class="col-md-5 col-lg-4 h-100">
                    <home-chat-list></home-chat-list>
                </div>
                <div class="col-md-7 col-lg-8 h-100 d-none d-md-block">
                    <home-chat></home-chat>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>