<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <h3 id="title" class="text-center">Reset Password</h3>
    </nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-control-group mb-3">
                <span class="label-with-link">
                    <label class="label" for="input-password">Password:</label>
                </span>
                <input nbInput fullWidth name="password" id="input-password" type="password" placeholder="Password" fieldSize="large">
            </div>

            <div class="form-control-group mb-3">
                <span class="label-with-link">
                    <label class="label" for="input-cpassword">Confirm Password:</label>
                </span>
                <input nbInput fullWidth name="password" id="input-cpassword" type="password" placeholder="Confirm Password" fieldSize="large">
            </div>

            <button nbButton fullWidth outline status="primary" size="large" class="mt-3">
                Reset Password
            </button>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <p class="another-action text-center" aria-label="Register">
            Don't have an account? <a class="text-link" routerLink="../signup">Register</a>
        </p>
    </nb-card-footer>
</nb-card>