<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12">
            <nb-card class="text-center">
                <nb-card-header><h2>Friends Chat</h2></nb-card-header>
                <nb-card-body>
                    <div class="spinner-border text-basic m-5" role="status">  
                    </div>
                   <h5>Loading your Content...</h5>
                </nb-card-body>
                <nb-card-footer>
                    <h6>Powered By: Deepanshu Tyagi</h6>
                </nb-card-footer>
            </nb-card>
        </div>
    </div>
</div>