<nb-card class="h-100">
    <nb-card-body class="p-4">
        <img class="img-fluid mx-auto d-block mt-3" src="/assets/auth.svg" width="60%">
        <h4 class="text-center mb-3 mt-5">
            Friends Chat
        </h4>
        <ul>
            <li>Clean Design with multiple themes</li>
            <li>Group chat with message status</li>
            <li>Multimedia message support(Audio, Video, Document, Gif, Images)</li>
            <li>Message Encription support</li>
        </ul>
    </nb-card-body>

</nb-card>