<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <h3 id="title" class="text-center">Profile</h3>
    </nb-card-header>
    <nb-card-body *ngIf="profile">
        <form>
            <img src="{{profile.imgUrl}}" class="img-fluid rounded-circle mx-auto d-block pr-5 pl-5"/>
            <h3 class="text-center mt-3 mb-3">{{profile.name}}</h3>
            <button nbButton fullWidth outline status="primary" (click)="continue()" size="large" class="mt-3">
                Continue
            </button>
        </form>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>