<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <h3 id="title" class="text-center">Profile</h3>
    </nb-card-header>
    <nb-card-body>
        <form>
            <img src="https://via.placeholder.com/200/4479e7/ffffff?Text=IMG" class="img-fluid rounded-circle mx-auto d-block"/>
            <div class="form-control-group mb-3 mt-3">
                <span class="label-with-link">
                    <label class="label" for="input-password">Full Name</label>
                </span>
                <input nbInput fullWidth name="name" id="input-password" type="name" placeholder="Full Name"
                    fieldSize="large">
            </div>

            <button nbButton fullWidth outline status="primary" size="large" class="mt-3">
                Continue
            </button>
        </form>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
</nb-card>