<nb-layout>
    <nb-layout-column>
        <div class="container">
            <div class="row row-eq-height no-gutters justify-content-center mt-5 mb-4">
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <nb-card>
                        <nb-card-body>
                            <img class="img-fluid p-3 mb-4" src="/assets/friends.jpg">
                            <ul>
                                <li>Clean Design with multiple themes</li>
                                <li>Realtime with sockets</li>
                                <li>Multimedia message support(Audio, Video, Document, Gif, Images)</li>
                                <li>Message Encription support</li>
                            </ul>
                        </nb-card-body>
    
                    </nb-card>
                </div>
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>