<nb-card [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card-header>
        <h3 id="title" class="text-center">Forgot Password</h3>
    </nb-card-header>
    <nb-card-body>
        <form>
            <div class="form-control-group mb-3">
                <label class="label" for="input-email">Email address:</label>
                <input nbInput fullWidth name="email" id="input-email" placeholder="Email address" fieldSize="large">
            </div>

            <button nbButton fullWidth outline status="primary" size="large">
                Submit
            </button>
        </form>
    </nb-card-body>
    <nb-card-footer>
        <p class="another-action text-center" aria-label="Register">
            Don't have an account? <a class="text-link" routerLink="../signup">Register</a>
        </p>
    </nb-card-footer>
</nb-card>